
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* common css  */
  * {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
p{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}
.btn-primary{
    color:  #FFF;
    background: #FD6E0A;
    border-radius: 5px;
    border: none;
    padding: 10px;
    cursor: pointer;
}
/* header nav */
#header {
    background-color: #FFF;
    width: 80%;
    max-width: 1300px;
    margin: auto;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right , bottom left;

}

.nav .nav-section {
    display: flex;
    justify-content: space-around;
}

.nav-section .navcol {
    width: 50%;
}

.navcol h2 {
    color: #181818;
    font-size: 30px;
    font-weight: 800;
}

span {
    color: #FD6E0A;
}

.nav-f,
ul {
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
}

.nav-f,
ul,
li a {
    text-decoration: none;
    list-style: none;
    color: #757575;
    font-size: 23px;
}

/* end header nav */
/* strat bannner */
.banner {
    display: flex;
}

.banner-col h2 {
    color:  #474747;
    font-size: 30px;
    font-weight: 600;
    margin-top: 180px;

}
.banner-col h1{
    color: #181818;
    font-size: 50px;
    font-weight: 700;
    max-width: 400px;
    margin-bottom: 20px ;
}
.banner-col p{
   max-width: 525px;
   margin-bottom:25px ;
}
.banner-col button{
    margin-right: 20px;
    transition-duration: 1s;
}
.btn-primary:hover{
    color: gray;
    background-color: aliceblue;
} 
.banner img {
    width: 100%;
    margin-left: 50px;
    vertical-align: bottom;
}
/* end banner */
/* Smaller device */
@media screen and (max-width : 576px) {
    #header{
         width: 100%;
    }
    .banner{
        flex-direction: column;
        gap: 10px;
    } 
    .nav-section .navcol {
         width: 100%;
    }
    .nav .nav-section{
        flex-direction: column-reverse
    }

}